name: Build Kivy APK (ANTI AIDL)

on:
  push:
    branches: [ "utama" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Linux deps
      run: |
        sudo apt update
        sudo apt install -y openjdk-17-jdk zip unzip

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Install Android SDK packages (FULL)
      run: |
        yes | sdkmanager --licenses
        sdkmanager \
          "platform-tools" \
          "platforms;android-31" \
          "build-tools;30.0.3"

    - name: Export AIDL to PATH (INI KUNCI)
      run: |
        AIDL_PATH=$(find $ANDROID_HOME/build-tools -name aidl | head -n 1)
        echo "AIDL FOUND AT: $AIDL_PATH"
        echo "$(dirname $AIDL_PATH)" >> $GITHUB_PATH

    - name: Verify aidl
      run: aidl --version

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer cython==0.29.36

    - name: Build APK
      run: buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: WeatherApp-APK
        path: bin/*.apk
